:root {
  /* OBS Canvas Width */
  --canvas-width: 2560px;

  /* OBS Canvas Height */
  --canvas-height: 1440px;

  /* Desired Image Width */
  --image-width: 250px;

  /* Desired Image Height */
  --image-height: 250px;

  /* Image Name/Source */
  --image-source: url("./images/profile.png");

  /* Image Animation Speed */
  --image-speed: 0.85;
}

body {
  margin: 0;
}

.canvas {
  width: var(--canvas-width);
  height: var(--canvas-height);
}

.image {
  width: var(--image-width);
  height: var(--image-height);
  background-image: var(--image-source);
  background-size: contain;
  border-radius: 50%;
  border: white 3px solid;
}

.div-x {
  animation: calc(4.1s / var(--image-speed)) linear infinite alternate moveX;
}

.div-y {
  animation: calc(3.15s / var(--image-speed)) linear infinite alternate moveY;
}

@keyframes moveX {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(calc(var(--canvas-width) - var(--image-width)));
  }
}

@keyframes moveY {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(calc(var(--canvas-height) - var(--image-height)));
  }
}
